.carousel {
  width: 100%;
  z-index: 999;
}

.carousel .image {
  width: 100%;
}

.header {
  position: relative;
}
.header .item {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header .contenido {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  padding-top: 37vh;
}
.header .contenido .image {
  width: 30%;
  margin: auto;
}

.header h3 {
  font-size: 14px;
  letter-spacing: 6px;
  margin: 30px 0px;
  color: white;
  border: none;
}

.banner {
  background-color: #efefef;
}

.banner img {
  width: 100%;
}
.acerca {
  padding: 30px 20px;
  text-align: center;
  background-color: #efefef;
}

/* MENÚ */

.menus {
  background-color: #f7f7f7;
  text-align: center;
  padding: 30px 20px;
}

/* CHEF */

@media (min-width: 756px) {
  .chef {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #efefef;
  }
}
.chef .texto {
  text-align: center;
  padding: 3rem;
}
.chef .redes {
  margin: 5rem auto;
}
.chef .redes a {
  margin: 20px;
}

.instagram {
  text-align: center;
  margin: 20px 10px;
}

/* CONTACTO */

.contacto {
  text-align: center;
}
.contacto .redes {
  color: #3c3c3c;
  margin: 25px 20px;
}
.contacto .redes a {
  margin: 10px;
}
.contacto .imagen {
  margin: 10px auto;
  max-width: 90%;
}
.contacto .texto1 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 6px;
  margin: 10px 0px;
}
.contacto .texto2 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 6px;
}
.contacto a {
  color: #3c3c3c;
  margin: 20px 5px;
}
.contacto .buttons a {
  border: 1px solid #333;
  border-radius: 0;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  transition-duration: 0.2s;
}
.contacto .buttons a:hover {
  background-color: #3c3c3c;
  color: white;
  transition-duration: 0.2s;
  text-decoration: none;
}

.menu {
  background-color: black;
  text-align: center;
  padding: 10px;
}
.menu a {
  font-size: 20px;
  border-bottom: 3px solid white;
  display: inline-block;
  color: white;
  text-decoration: none;
}
